<!DOCTYPE html>
<html>
    <head>
<meta charset="UTF-8">
<link rel= "stylesheet" type= "text/css" href="../Style/estilo.css">
    </head>

    <body class="body">
        <div>
<center>
        <u><h1 >Bibliografia</h1></u>
  <div>
            <p> <a href= "https://es.slideshare.net/norma8a/1-historia-de-la-inteligencia-artificial"> Slideshare: Inteligencia Artificial </a> 
<br>
<a href = "http://inteligenciaartificialudb.blogspot.com.es/2008/01/concepto-caractersticas-y-metodologas.html"> Blogspot: Inteligencia Artificial </a>

            </p>
        </div>

<br>
<img src="bibliografia.png" width="200" height="200">
<br> 
<a href="../index.html"><img src="../home.png"width="70" height="70">
<br>
        <a href="../index.html" >Inicio</a>
<br> 
        <a href="Caracteristicas.html">Caracteristicas</a>
<br> 
        <a href="Concepto.html" >Concepto</a>
<br> 
        <a href="Metodologia.html" >Metodología</a>
<br> 
        <a href="Origen.html" >Origen</a>
<br> 
        <a href="Experiencia.html" >Experiencia, habilidades y conocimiento</a>
        </div>
    
    </body>
</html>
