<!DOCTYPE html>
<html>
    <head>
<meta charset="UTF-8">
<link rel= "stylesheet" type= "text/css" href="../Style/estilo.css">
    </head>
    <body class="body">
        <div>
<center>
        <u><h1 >Características</h1></u>
<br>
<img src="caracteristicas.jpg" width="200" height="200">
<br> 
  <div>
            <p>1.Una característica que distingue a los métodos de Inteligencia Artificial es el uso de símbolos no matemáticos, aunque no todos son Inteligencias Artificiales. Otros tipos de programas como los compiladores y sistemas de bases de datos, también procesan símbolos y no se considera que usen técnicas de Inteligencia Artificial.
<br>
<br>
2.El comportamiento de los programas no es  algorítmico. La secuencia de pasos seguidos por el programa es influenciado por el problema particular presente. El programa especifica cómo encontrar la secuencia de pasos necesarios para resolver un problema dado. A diferencia de los programas que son de Inteligencia Artificial, los demás siguen un algoritmo definido, que especifica cómo encontrar las variables de salida para cualquier variable dada de entrada.
<br>
<br>
3.Las conclusiones de un programa declarativo no son fijas y son determinadas parcialmente por las conclusiones intermedias alcanzadas durante las consideraciones al problema específico. Los lenguajes orientados al objeto comparten esta propiedad y se han caracterizado por su afinidad con la Inteligencia Artificial.
<br>
<br>
4.El razonamiento basado en el conocimiento, implican que incorporen factores y relaciones del mundo real y del ámbito del conocimiento en el que trabaja. Al contrario de los programas como los de contabilidad y cálculos científicos; los programas de Inteligencia Artificial pueden distinguir entre el programa de razonamiento y base de conocimientos, dándole la capacidad de explicar discrepancias entre ellas.
<br>
<br>
5.Aplicabilidad a datos y problemas mal estructurados, sin las técnicas de Inteligencia Artificial los programas no pueden trabajar con este tipo de problemas.

            </p>
        </div>
<br> 
<a href="../index.html"><img src="../home.png"width="70" height="70">
<br>


        <a href="../index.html" >Inicio</a>
<br> 
        <a href="Bibliografía.html" >Bibliografía</a>
<br> 
        <a href="Concepto.html" >Concepto</a>
<br> 
        <a href="Metodologia.html" >Metodología</a>
<br> 
        <a href="Origen.html" >Origen</a>
<br> 
        <a href="Experiencia.html" >Experiencia, habilidades y conocimiento</a>
        </div>
    
    </body>
</html>
