<!DOCTYPE html>
<html>
    <head>
<meta charset="UTF-8">
<link rel= "stylesheet" type= "text/css" href="../Style/estilo.css">
    </head>
    <body class="body">
        <div>
<center>
        <u><h1 >Concepto</h1></u>
<br>
<img src="concepto.jpg" width="200" height="200">
<br> 
  <div>
            <p>La Inteligencia Artificial es una combinación de la ciencia del ordenador, fisiología , filosofía, psicología, lingüística y lógica matemática.  Reúne varios campos (robótica, sistemas expertos…), todos los cuales tienen en común la creación de máquinas que pueden pensar.
<br>
<br>
La de idea construir una máquina que pueda ejecutar tareas percibidas como requerimientos de inteligencia humana es atractiva. Las tareas que han sido estudiadas desde este punto de vista incluyen juegos, traducción de idiomas, comprensión de idiomas, diagnóstico de fallas, robótica, suministro de asesoría experta en diversos temas…
<br>
<br>
<u><b>¿Cuál es su objetivo?:</u></b>
<br>
<br>
<b>Que actúen como humanos:</b>
<br>
-Lenguaje natural
<br>
-Representación del conocimiento
<br>
-Autoaprendizaje de máquinas
<br>
-Visión por ordenador
<br>
-Robótica
<br>
<br>
<b>Que piensen como humanos:</b>
<br>
-Introspección
<br>
-Experimentos psicológicos
<br>
-Resuelve problemas correctamente
<br>
-Lo que importa es resolver, el cómo pasa a un segundo plano
<br>
<br>
<b>Que actúen racionalmente:</b>
<br>
-Utilizan la lógica por medio de silogismos
<br>
-Que piensen racionalmente
<br>
-Percibe y actúa
<br>
-Interfiere
<br>

            </p>
        </div>
<br> 
<a href="../index.html"><img src="../home.png"width="70" height="70">

<br>
        <a href="../index.html" >Inicio</a>
<br> 
        <a href="Caracteristicas.html" >Caracteristicas</a>
<br> 
        <a href="Bibliografía.html" >Bibliografía</a>
<br> 
        <a href="Metodologia.html" >Metodología</a>
<br> 
        <a href="Origen.html" >Origen</a>
<br> 
        <a href="Experiencia.html" >Experiencia, habilidades y conocimiento</a>
        </div>
    
    </body>
</html>
