<!DOCTYPE html>
<html>
    <head>
<meta charset="UTF-8">
<link rel= "stylesheet" type= "text/css" href="../Style/estilo.css">
    </head>
    <body class="body">
        <div>
<center>
        <u><h1 >Experiencia, habilidades y conocimiento</h1></u>
  <div>
<br>
<img src="experiencia.jpg" width="200" height="200">
<br> 
            <p> Los tipos de experiencia que son de interés en los sistemas basados en conocimiento, pueden ser clasificados en tres categorías: asociativa, motora y teórica.
<br>
<br>
Los sistemas basados en conocimiento son excelentes para representar conocimiento <b>asociativo</b>. Este tipo de experiencia muestra el conocimiento que es adquirido mayoritariamente, a través de la observación. Puede que no se comprenda exactamente lo que ocurre en el interior de un sistema, pero se pueden asociar entradas o estímulos con salidas o respuestas, para resolver problemas que han sido previamente conocidos.
<br>
<br>
La experiencia <b>motora</b> es más física que cognitiva. La habilidad se adquiere fundamentalmente a través del ejercicio y la práctica física constante. Los sistemas basados en conocimiento no pueden emular fácilmente este tipo de experiencia, principalmente por la limitada capacidad de la tecnología robótica.
<br>
<br>
La experiencia <b>teórica</b> y el conocimiento profundo permite que los humanos puedan resolver problemas que no se han visto antes, (no existe una posibilidad asociativa). El conocimiento teórico y profundo se adquiere a través de estudio y entrenamiento formal, así como por medio de la resolución directa de problemas.

Debido a su naturaleza teórica, este conocimiento se puede olvidar fácilmente, a no ser que se use en forma continua. Al momento, tienen muchas dificultades para duplicar este tipo de experiencia. Sin embargo,  representan un notable intento de encapsular este conocimiento profundo y razonar con él.

            </p>
        </div>
<br> 
<a href="../index.html"><img src="../home.png"width="70" height="70">

<br>
        <a href="../index.html" >Inicio</a>
<br> 
        <a href="Caracteristicas.html" >Caracteristicas</a>
<br> 
        <a href="Concepto.html" >Concepto</a>
<br> 
        <a href="Metodologia.html" >Metodología</a>
<br> 
        <a href="Origen.html" >Origen</a>
<br> 
        <a href="Bibliografía.html" >Bibliografía</a>
        </div>
    
    </body>
</html>
