<!DOCTYPE html>
<html>
    <head>
<meta charset="UTF-8">
<link rel= "stylesheet" type= "text/css" href="../Style/estilo.css">
    </head>
    <body class="body">
        <div>
<center>
        <u><h1 >Metodología</h1></u>
  <div>
<br>
<img src="metodologia.jpg" width="200" height="150">
<br> 
            <p> <b>1.La lógica difusa:</b> permite tomar decisiones bajo condiciones de incerteza.
<br>
<br>
<b>2.Redes neuronales:</b> se utiliza en ciertas tareas como la clasificación y el reconocimiento de patrones. Está basada en el concepto de "aprender" por agregación de un gran número de muy simples elementos.
<br>
<br>
Se considera que una neurona puede ser representada por una unidad binaria: a cada instante su estado puede ser activo o inactivo. La interacción entre las neuronas se lleva a cabo a través de sinapsis. Según el signo, la sinapsis es excitadora o inhibidora.
El perceptrón (Red Neuronal simple) está formado por las entradas que vienen de fuentes externas, las conexiones y la salida.
<br>
<br>
Para cada configuración de los estados de las neuronas de entrada (estímulo), la respuesta del perceptrón obedece a la siguiente dinámica: se suman los potencialessinápticos y se comparan con un umbral de activación. Esta suma ponderada es también llamada campo. Si el campo es mayor que un umbral, la respuesta de la neurona es activa, si no, es inactiva.
Con la forma de un perceptrón solo puede realizar una clase de funciones "booleanas" muy simples, llamadas separables. Son las funciones en las cuales los estados de entrada con salida positiva pueden ser separados de aquellos a salida negativa por un hiperplano (conjunto de puntos en el espacio de estados de entrada, que satisfacen una ecuación lineal).
<br>
<br>
Si se quieren realizar funciones más complejas con perceptrones, es necesario intercalar neuronas entre las capas de entradas y de salida, llamadas neuronas ocultas. Una red multicapas es como un conjunto de perceptrones, ligados entre si por sinapsis y dispuestos en capas siguiendo diversas arquitecturas. Una de las arquitecturas más usada es llamada feedforward: con conexiones de la entrada a las capas ocultas y de éstas hacia la salida.
El funcionamiento de un perceptrón es gobernado por reglas de propagación de actividades y de actualización de los estados.

            </p>
        </div>
<br> 
<a href="../index.html"><img src="../home.png"width="70" height="70">

<br>
        <a href="../index.html" >Inicio</a>
<br> 
        <a href="Caracteristicas.html" >Caracteristicas</a>
<br> 
        <a href="Concepto.html" >Concepto</a>
<br> 
        <a href="Experiencia.html" >Experiencia, habilidades y conocimiento</a>
<br> 
        <a href="Origen.html" >Origen</a>
<br> 
        <a href="Bibliografía.html" >Bibliografía</a>
        </div>
    
    </body>
</html>
