<!DOCTYPE html>
<html>
    <head>
<meta charset="UTF-8">
<link rel= "stylesheet" type= "text/css" href="../Style/estilo.css">
    </head>
    <body class="body">
        <div>
<center>
        <u><h1 >Origen</h1></u>
  <div>
<br>
<img src="origen.jpg" width="200" height="200">
<br> 
            <p> 
En 1843, Lady Ada Augusta Byron, patrocinadora de Charles Babbage, planteó el asunto de si la máquina de Babbage podía "pensar".
Los primeros problemas que se trataron de resolver fueron: rompecabezas, juegos de ajedrez, traducción de textos a otro idioma...
<br>
<br>
<b>Los primeros logros:</b>
<br>
<br>
Un resultado importante en este trabajo lo constituye el "mundo de micro-bloques", en el cual un robot era capaz de percibir un conjunto de bloques sobre una mesa, moverlos y apilarlos; el éxito se debió a los invesitgadores Larry Roberts, Gerald Sussman, Adolfo Guzmán, Max Clowes, David Huffman, David Waltz, Patrick Winston, y Berthold Horn.
Posteriormente se obtuvieron resultados importantes entre ellos el de mayor resonancia fue el sistema SCHRDLU de Terry Winograd, pues permitía interrogar y dar órdenes a un robot que se movía dentro de un mundo de bloques.

            </p>
        </div>
<br> 
<a href="../index.html"><img src="../home.png"width="70" height="70">

<br>
        <a href="../index.html" >Inicio</a>
<br> 
        <a href="Caracteristicas.html" >Caracteristicas</a>
<br> 
        <a href="Concepto.html" >Concepto</a>
<br> 
        <a href="Experiencia.html" >Experiencia, habilidades y conocimiento</a>
<br> 
        <a href="Metodologia.html" >Metodología</a>
<br> 
        <a href="Bibliografía.html" >Bibliografía</a>
        </div>
    
    </body>
